{% extends 'boldstatements/base.html' %}

{% block content %}
<div class="statement-form">
   <h2>Login</h2>
   <form method="post" class="ui form">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="ui button">Login</button>
   </form>
   <br>
   <p><strong>-- OR --</strong></p>
   <a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a><br>
   <p><strong>-- OR --</strong></p>
  <a href="{% url 'social:begin' 'github' %}">Login with GitHub</a><br>
</div>
{% endblock %}
