{% extends 'boldstatements/base.html' %}

{% block content %}
<div class="statement-form">
   <h2>Login</h2>
   <form method="post" class="ui form">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="ui button logbutts">Login</button>
   </form>
   <br>
   <a href="{% url 'social:begin' 'google-oauth2' %}"><button class="ui button logbutts"><span>Login with &nbsp;<i class="fab fa-google"></i></span></button></a>
   <a href="{% url 'social:begin' 'github' %}"><button class="ui button logbutts"><span>Login with &nbsp;<i class="fab fa-github"></i></span></button></a>
</div>
{% endblock %}
