<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
<head>
   <meta charset="utf-8">
   <title>Bold Statements</title>
   <link rel="stylesheet" type="text/css" href="{% static 'css/semantic.css' %}">
   <link rel="stylesheet" href="/css/master.css">
   <link rel="stylesheet" href="{% static 'css/style.css' %}">
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
   <link rel="icon" type="image/png" href="static/images/shout-head.png">
   <script
   src="https://code.jquery.com/jquery-3.1.1.min.js"
   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
   crossorigin="anonymous" defer></script>
   <script src="{% static 'scripts/app.js' %}" defer></script>
   <script src="semantic/dist/semantic.min.js" defer></script>
</head>
<body>
   <header>
      <a href="{% url 'statement_feed' %}"><h1 class="ui huge header"><span class="header-row"><span class="bs-header">B</span>old</span> <span class="header-row"><span class="bs-header">S</span>tatements</span></h1></a>
      <div class="auth-links">
         {% if user.is_authenticated %}
         <a href="{% url 'logout_user' %}">Log Out</a>
         {% else %}
         <a href="{% url 'signup_user' %}">Sign Up</a>
         <a href="{% url 'login_user' %}">Log In</a>
         {% endif %}
      </div>
      <nav>
         <a href="{% url 'statement_feed' %}">Statement Feed</a>
         <a href="{% url 'make_a_statement' %}"> New Statement</a>
         <a href="#">Statistics</a>
         <a href="#">Profile</a>
      </nav>
   </header>
   {% block content %}
   {% endblock %}
   <footer>
      <p><a href="{% url 'statement_feed' %}"><span class="footer-bs">BS</span></a> &nbsp; &copy;2018 Aaron Horowitz</p>
   </footer>
</body>
</html>
