{% extends 'boldstatements/base.html' %}

{% block content %}
<div id="single-statement">
   <div id="statement-basics">
      <h2 class="page-headers">{{ statement.prediction }}</h2>
      <h4 class="predictors">Stated by: {{ statement.predictor }} on {{ statement.datestamp }}</h4>
      <h4>Confirmed?</h4>
      <form action="">
         <input id="true-radio" type="radio" name="confirmation" value="true"> True | <input id=
         "false-radio" type="radio" name="confirmation" value="false"> False
      </form>
   </div>
   <div class="ui card statement-evidence">
      <div class="image">
         {% if statement.image.url %}
         <img src="{{ statement.image.url }}">
         {% endif %}
      </div>
      <div class="content">
         <p class="statement-description">{{ statement.description }}</p>
         <p><a href="{{ statement.link }}" target="_blank" style="text-decoration: none">Source &#10697; </a></p>
      </div>
   </div>
   <div class="confirmation-data">
      <h3>Can you verify?</h3>
      <a href="{% url 'statement_edit' pk=statement.pk %}"><button type="button" name="button" class="ui button logbutts">Confirm/Refute</button></a>
   </div>
</div>



{% endblock %}
