{% extends 'boldstatements/base.html' %}

{% block content %}
<main class="main-feed">
   <h2>Statements</h2>
   <div class="ui items">
      {% for statement in statements %}
      <a href="{% url 'statement_detail' pk=statement.pk %}">
         <div class="ui item">
            <div class="ui small image">
               <img src="{{ statement.image.url }}">
            </div>
            <div class="content">
               <div class="header"><h3>"{{ statement.prediction }}"</h3></div>
               <div class="meta">
                  <h5>-{{ statement.predictor }}</h5>
               </div>
               <div class="description">
                  <p>{{ statement.description }}</p>
               </div>
               <div class="prediction-date">stated {{ statement.datestamp }}</div>
            </div>
         </div>
      </a>
      {% endfor %}
   </div>
</main>
{% endblock %}
