body {
   box-sizing: border-box;
   /* margin-right: 1em;
   margin-left: 1em; */
}

header {
   padding-top: 1em;
   font-size: 2em;
   background-color: #6EA4BF;
}

h1 {
   color: white;
   display: inline-block;
   margin-left: 10px;
   text-transform: uppercase;
}

.bs-header {
   font-size: 1.4em;
}

nav {
   text-align: left;
   border-top: 4px solid white;
}

nav a {
   display: inline-block;
   padding: .5em;
   padding-left: 10px;
   color: white;
}

nav a:hover {
   color: #6EA4BF;
   background-color: white;
}

.false {
   background-color: red;
}

.true {
   background-color: green;
}
